.header{
  display: flex;
  flex-direction: row;
  position: fixed;
  margin-top: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px); 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-left: 257px;
}
.section1{
  border-style: solid;
  border-color: black;
  border-bottom-color: rgb(62, 65, 68);
  border-left-color: rgb(62, 65, 68);
  border-right-color: rgb(62, 65, 68);
  border-width: 1px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 600px;
  cursor: pointer;
}
.section1 div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 310px;
  height: 50px;
  transition: background-color 0.15s;
}
.section1 div:hover{
  background-color: rgba(62, 65, 68, 0.4);
}
.search_section{
  padding-top: 2px;
  padding-bottom: 2px;
  position: relative;
  margin-left: 30px;
  width: 340px;;
  background-color: black;
}
.search_icon{
  width: 17px;
  position: absolute;
  left: 15px;
  top: 15px;
}
.search{
  background-color: black;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(62, 65, 68);
  width: 300px;
  height: 40px;
  font-size: 16px;
  border-radius: 24px;
  padding-left: 37px;
  caret-color: white;
  outline: none;
  color: rgb(113, 118, 123);
}
.search:focus{
  border-color: rgb(29, 155, 240);
  border-width: 2px;
}
